@charset "UTF-8";
html {
  overflow: auto;
}

body {
  margin: 0;
}


/*main------------------------*/

.title {
  background-color: #1fcfb9;
  font-family: fantasy;
  font-size: 20px;
  margin: 0;
  padding: 10px 0 15px 20px;
}

.sentence {
  font-size: 15px;
  background-color: #e8d9d9;
  margin: 0;
  padding: 30px 0 100px;
}


/*footer----------------------*/

footer {
  background-color: #1fcfb9;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

footer nav {
  text-align: center;
}

footer nav a {
  text-decoration: none;
  font-size: 16px;
  padding: 0 50px;
  color: #ffffff;
  display: inline-block;
}

footer a span {
  font-family: fantasy;
}

footer p {
  text-align: right;
  padding-right: 10px;
}

footer p a {
  font-size: 10px;
  border-bottom: none;
  text-decoration: none;
  color: #ffffff
}

footer span:hover {
  color: #000000;
  transition: color linear 0.5s;
  border-bottom: 1px dotted #000000;
}
